@import '../bower_components/bootstrap/less/bootstrap';

body {
  background: black;
}

.cast-player {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    z-index: 1;
}

.cast-third {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 33%;
    width: 100%;
    padding: 40px;
    font-size: 40px;

    overflow: hidden;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    .transition(opacity 300ms ease-in);
    
    &.show {
        opacity: 1;
    }
    
    z-index: 2;
}

.cast-flash {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    opacity: 0;
    .transition(opacity 300ms ease-in);

    @size: 100px;
    
    .cast-flash-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -(@size / 2);
        margin-left: -(@size / 2);
        width: @size;
        height: @size;
        
        font-size: @size * 0.8;
        text-align: center;
        color: white;
        border-radius: 10px;
        
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    &.show {
        opacity: 1;
    }
    
    z-index: 3;
}
